# Geoserver
KART_DB_DATABASE=
KART_DB_HOST=
KART_DB_PORT=
KART_DB_SCHEMA=
KART_DB_USERNAME=
KART_DB_PASSWORD=
GEOSERVER_PORT=8681

# Auth proxy
KEYCLOAK_ISSUER_URL=http://host.docker.internal:8080/auth/realms/matrikkelen
KEYCLOAK_CLIENT_ID=matrikkel-token-exchange
# Kommaseparert liste over gyldige audience-verdier i JWT-tokenet.
ACCEPTED_AUDIENCES=matrikkel-geoserver
AUTH_PROXY_PORT=80